QLabel#iconLabel
{
  background-color: #444444;
}
QLabel#titleLabel
{
  color: #888888;
  background-color: #444444;
  font-weight: bold;
}
QLabel#titleLabel:active
{
  color: #ffffff;
}
QPushButton#closeButton
{
  color: #888888;
  background-color: #444444;
  font-weight: bold;
  border: none;
  padding: 5px;
}
QPushButton#closeButton:active
{
  color: #ffffff;
}
QPushButton#closeButton:hover
{
  color: #1d90cd;
}
